<div class="container">
  <br />
  <!-- alertas sobre  la operación -->
  <div class="d-flex p-3 flex-row-reverse">
    <div class="p-2">
      <button class="btn btn-success" [routerLink]="['/editarProducto']">Nuevo Producto</button>
    </div>
  </div>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th>Nombree</th>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Preecio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>{{ producto.precio }}</td>
        <td>
          <button class="btn btn-primary" [routerLink]="['/editarProducto/', producto.id]"><i class="fa fa-edit edit-icon"></i></button>&nbsp;&nbsp;
          <button class="btn btn-danger" (click)="borrarProducto(producto.id)"><i class="fa fa-trash trash-icon"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

