<div class="container">
  <div [hidden]="submitted">
    <br />
    <form (ngSubmit)="onSubmit()" #productoForm="ngForm">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name"
                required
                [(ngModel)]="producto.nombre" name="name"
                #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
              class="alert alert-danger">
          Se precisa rellenar este campo
        </div>
      </div>

      <div class="form-group">
        <label for="description">Descripción</label>
        <input type="text" class="form-control" id="description"
                [(ngModel)]="producto.descripcion" name="description">
      </div>

      <div class="form-group">
        <label for="quantity">Cantidad</label>
        <select class="form-control" id="quantity"
                required
                [(ngModel)]="producto.cantidad" name="quantity"
                #quantity="ngModel">
          <option *ngFor="let cantidad of cantidades" [value]="cantidad">{{cantidad}}</option>
        </select>
        <div [hidden]="quantity.valid || quantity.pristine" class="alert alert-danger">
          Se precisa rellenar este campo
        </div>
      </div>

      <div class="form-group">
        <label for="name">Precio</label>
        <input type="number" class="form-control" id="price"
                required
                [(ngModel)]="producto.precio" name="price"
                #price="ngModel">
        <div [hidden]="price.valid || price.pristine"
              class="alert alert-danger">
          Se precisa rellenar este campo y debe ser numérico.
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!productoForm.form.valid">Submit</button>
      <!-- <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button> -->
    </form>
  </div>
